$closeButtnColor: rgb(194, 35, 35);

.item{
    display: flex;
    justify-content: space-between;
    height: 2em;
    font-size: 1rem;
    align-items: center;
    align-content: center;
}
.itemName{
    display: inline-block;
}

.close{
    color:$closeButtnColor ;
    cursor: pointer;
}

.close:hover{
    text-shadow:1px 1px darken($color: $closeButtnColor, $amount: 20);

}