<div class="add-form">
    <form action="" class="form">
        <div class="col">
            <fieldset>
                <legend>Heading</legend>
                <input type="text" name="" id="">
            </fieldset>
            <fieldset>
                <legend>Short Descrption</legend>
                <input type="text" name="" id="">
            </fieldset>
            <fieldset>
                <legend>Content</legend>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </fieldset>
        </div>
        <div class="col">
            <fieldset>
                <legend>Date</legend>
                <input type="date" name="" id="">
            </fieldset>
            <fieldset>
                <legend>Author</legend>
                <input type="text" name="" id="">
            </fieldset>
            <fieldset>
                <legend>Source url</legend>
                <input type="url" name="" id="">
            </fieldset>
            <div class="buttons">
                <input type="submit" value="Save">
                <input type="reset" value="Cancel">
            </div>
        </div>
    </form>
</div>