.header{
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
    padding: 3% 0%;

    label{
        width: 25%;
    }
    .title{
        padding-right: 5%;
        font-weight: bold;
    }
    input{
          border: none;
          border-bottom: 2px solid #000;
      }
     
    
}