body {
    width: 100%;
}
.root{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
  width: 100%;
}
main{
    width: 90%;
}
footer{
    width: 100%;
}
