$fonts:("big": 'Source Sans Pro', "medium":'Hind',"small":'Fresca',"usual":sans-serif );

$headerHeight:100vh;
$headerBgPhoto:  url(../img/m-h-night.jpg)  ;

$bgColor: #21232E;

$themeFontColor:#FFFFFF;

$addThemeFontColor:$themeFontColor;

$addElementsBgColor:#3B3F50;

$strangeLineColor:#FF4E33;

$logoFont:map-get($fonts, "small" );
$logoFontSize:30px;
$logoSubFontSize:13px;

$headerTextFont: map-get($fonts , "small" );

$placesBgColor:$addElementsBgColor;
$placesFontColor: $themeFontColor;
$placeDescFontColor: darken($themeFontColor,20%);

$background:("start":#E2AB01,"end":#922B53);

$banerHeaderFontColor:$themeFontColor;
$banerTextFontColor:darken($addThemeFontColor,15%);

$btnColor:#E3AC00;
$btnFontColor:$themeFontColor;

$footerColor:$addElementsBgColor;
$footerLogoFont:map-get($fonts, "big");
$footerFontColor:darken($themeFontColor,10%);
$footerFont:map-get($fonts, "small" );
 